/* Header ==================================*/
header{
    min-height: 5rem;
}


.HeaderWrap{
    position: relative;
    width: 95%;
    min-height: 5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}

/* Header_Title =============================*/
.Header_Link{
    font-size: 1.1rem;
    color: #fafafa;
}

.Header_Subtitle{
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: #999;
}


/* Header_List =================================*/
.Header_List{
    display: flex;
    align-items: center;
}

.Header_List li{
    float: left;
    margin-left: 1rem;
}

.Header_List li a{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
}

/* Mode ----------------------------------*/
.Mode{
    position: relative;
    width: 3rem;
    height: 1.3rem;
    border: 2px solid #fafafa;
    border-radius: 1rem;
}

.Mode.Dark{
    border: 2px solid #fafafa;
    border-radius: 1rem;
}

.Mode.Light{
    border: 2px solid #111313;
    border-radius: 1rem;
}

.ModeBtn{
    position: absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    cursor: pointer;
}

.ModeBtn.Dark{
    background-color: #fafafa;
}


.ModeBtn.Light{
    background-color: #111313;
}


/* Blog ---------------------------------------*/
.Blog{
    background: url(../img/tstorylogo.svg) no-repeat;
}


/* Github --------------------------------------*/
.Github{
    background: url(../img/githublogo.svg) no-repeat;
}

.MainInfo{
    display: flex;
    justify-content: center;
    background-color: #264090;
}

.MainInfoTitle{
    position: relative;
    margin: 5rem 5rem 0rem 0rem;
    color: #fafafa;
}

.MainInfoTitle_title{
    font-size: 3rem;
    font-family: "Hahmlet";
}

.MainInfoTitle_title span{
    font-size: 4.5rem;
    font-family: "Hahmlet";
}

.MainInfoTitle_list{
    margin-top: 7rem;
}

.MainInfoTitle_item{
    display: flex;
    justify-content: center;
  
    margin: 2rem 0rem;
}

.MainInfoTitle_item span{
    position: relative;
    width: 50%;
    font-size: 1.6rem;
    font-family: "Hahmlet";
}

.MainInfoTitle_item span:first-child{
    text-align: center;
}

.MainInfoTitle_item span:first-child::after{
    position: absolute;
    right: 0%;
    width: 1px;
    height: 25px;
    background-color: #fafafa;
    opacity: 0.6;
    content: "";
}

.MainInfoTitle_item span:last-child{
    margin-left: 2rem;
}

.item_content_item{
    font-family: "Hahmlet";
}

.item_content a{
    text-decoration: underline;
    color: #fafafa;
    font-family: "Hahmlet";
}

.MainInfoTitle_link{
    position: relative;
    position: absolute;
    bottom:0%;
    left:50%;
    transform: translateX(-50%);
    width: 328px;
    height: 101px;
    background: url("../img/island-mini.svg") no-repeat;
}

.MainInfoTitle_link a{
    position: absolute;
    top:50%;
    left:35%;
    font-size: 1.3rem;
    font-family: "Hahmlet";
}

.MainInfoImg{
    width: 800px;
    height: 800px;
    margin-left: 5rem;
    background: url("../img/coex_cover.jfif") no-repeat 45% / cover;
}

.MainTitleWrap{
    width: 75%;
    margin: auto;
    margin-top: 180px;
}

.MainTitleWrap_title{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    color:#fafafa;
}

.MainPointWrap{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.MainPoint{
    width: 49%;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.MainSlide{
    width: 100%;
    height: 464px;
    background: url("../img/coex.png") no-repeat top / cover;
}

.TicketSlide{
    width: 100%;
    height: 464px;
    background: url("../img/coex_slide2.png") no-repeat top/ cover;
}

.MainPoint_title{
    margin-top: 50px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    color: #fafafa;
}

.MainPoint_para{
    padding: 2rem;
    margin: 30px 0px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 3rem;
    color: #fafafa;
}

.MainChecker{
    width: 75%;
    margin: auto;
    margin-top: 180px;
}

.MainHtml{
    width: 100%;
    height: 364px;
    background: url("../img/coex_html.png") no-repeat top / contain;
}

.MainCss{
    width: 100%;
    height: 364px;
    background: url("../img/coex_css.png") no-repeat top / contain;
}

.FooterWrap{
    width: 95%;
    margin: auto;
    margin-top: 100px;
    padding: 2rem 0rem;
}

.FooterFlex{
    display: flex;
    justify-content: space-between;
}

.FooterFlex div{
    width: 32.5%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.FooterFlex_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #fafafa;
}

.FooterFlex_title span{
    color: #999;
}

.FooterFlex_list{
    margin-top: 1rem;
}

.FooterFlex_item{
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
    color: #c2c2c2;
}

.FooterFlex_item a{
    color: #c2c2c2;
    text-decoration: underline;
}

.FooterContact{
    margin-top: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.FooterContactFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.FooterEmail{
    font-size: 2rem;
    font-weight: 600;
    color: #c2c2c2;
}

.FooterLink{
    font-size: 1.5rem;
    color: #999;
}

/* light mode =================================================*/
.Header_Link.light{
    color: #010101;
}

.Information.light{
    background-color: #f0f0f0;
}

.Profilecontact_item_message_link.light{
    color:#010101;
}

.Profilecontact_item_message.light{
    background-color: #e8e8e8;
}

.Profilecontact_item_call_link.light{
    color: #010101;
}

.Profilecontact_item_call.light{
    background-color: #e8e8e8;
}

.ProfileGrid_cate_item.light.on{
    border-bottom: 1px solid #010101;
}

.ProfileGrid_cate_item:first-child .icon.light.on{
    background: url(../img/grid_01.svg) no-repeat center ;
}
.ProfileGrid_cate_item:nth-child(2) .icon.light.on{
    background: url(../img/tstory_01.svg) no-repeat center ;
}
.ProfileGrid_cate_item:last-child .icon.light.on{
    background: url(../img/folder_01.svg) no-repeat center ;
}

.MainTitleWrap_title.light{
    color: #010101;
}

.MainPoint.light{
    background-color: #f0f0f0;
}

.Footerstack.light{
    background-color: #f0f0f0;
}

.FooterFlex_item.light{
    color: #999;
}

.FooterFlex_item.light a{
    color: #999;
}

.FooterProject.light{
    background-color: #f0f0f0;
}

.FooterAdvantage.light{
    background-color: #f0f0f0;
}

.FooterContact.light{
    background-color: #f0f0f0;
}

h2.light{
    color: #010101;
}

h3.light{
    color: #010101;
}

p.light{
    color: #010101;
}
