/* Header ==================================*/
header{
    min-height: 5rem;
}


.HeaderWrap{
    position: relative;
    width: 95%;
    min-height: 5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header_Title =============================*/
.Header_Link{
    font-size: 1.1rem;
    color: #fafafa;
}

.Header_Subtitle{
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: #999;
}


/* Header_List =================================*/
.Header_List{
    display: flex;
    align-items: center;
}

.Header_List li{
    float: left;
    margin-left: 1rem;
}

.Header_List li a{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
}

/* Mode ----------------------------------*/
.Mode{
    position: relative;
    width: 3rem;
    height: 1.3rem;
    border: 2px solid #fafafa;
    border-radius: 1rem;
}

.Mode.Dark{
    border: 2px solid #fafafa;
    border-radius: 1rem;
}

.Mode.Light{
    border: 2px solid #111313;
    border-radius: 1rem;
}

.ModeBtn{
    position: absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    cursor: pointer;
}

.ModeBtn.Dark{
    background-color: #fafafa;
}


.ModeBtn.Light{
    background-color: #111313;
}


/* Blog ---------------------------------------*/
.Blog{
    background: url(../img/tstorylogo.svg) no-repeat;
}


/* Github --------------------------------------*/
.Github{
    background: url(../img/githublogo.svg) no-repeat;
}

/* Main ========================================*/
.MainInfo{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}


/* Information ==================================*/
.Information{
    width: 33%;
    height: 953px;
    border-radius: 1rem;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 5px #fafafa;
    overflow: hidden;
}

/* ProfileId ------------------------------------*/
.ProfileId{
    display: inline-block;
    width: 100%;
    padding:1rem 0rem 0rem 0rem;
    text-align: center;
    font-size: 1rem;
    color: #fafafa;
}

/* Profile ---------------------------------------*/
.Profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding:1rem;
    box-sizing: border-box;
}

/* ProfileImg -------------------------------------*/
.ProfileImg{
    width: 115px;
    height: 115px;
    border: 5px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
}

.ProfileImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ProfileList ------------------------------------*/
.ProfileList{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.ProfileList_item{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    cursor: pointer;
}

.ProfileList_item:first-child{
    margin: 0px;
}

.Item_number{
    font-size: 1.8rem;
    font-weight: 600;
    color:#fafafa;
}

.Item_cate{
    margin-top:0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color:#999;
}

/* ProfileInfo -------------------------------------*/
.ProfileInfo{
    width: 95%;
    margin: auto;
    padding: 0rem 1rem;
    box-sizing: border-box;
}

.Name{
    display: inline-block;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    color: #fafafa;
}

.paragraph{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fafafa;
}

/* Profilecontact ---------------------------------*/
.Profilecontact{
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    padding: 0rem 1rem;
    box-sizing: border-box;
}

.Profilecontact_List{
    display: flex;
    justify-content: space-between;
}

.Profilecontact_List li{
    width: 32%;
    text-align: center;
    border-radius: 0.5rem;
    padding:0.7rem;
    box-sizing: border-box;
}

.Profilecontact_List li a{
    display: inline-block;
    width: 100%;
    font-weight: 500;
    color: #fafafa;
}

.Profilecontact_item_follow{
    color:#fafafa;
    background-color: #405DE6;
}

.Profilecontact_item_message{
    background-color: #111313;
}

.Profilecontact_item_call{
    background-color: #111313;
}

/* PortfolioGrid --------------------------------*/
.ProfileGrid{
    height: 60%;
    overflow-y: scroll;
}

.ProfileGrid::-webkit-scrollbar{
    display:none;
}

/* ProfileGrid_cate ---------------------------*/

.ProfileGrid_cate{
    margin-top: 2rem;
}

.ProfileGrid_cate_list{
    display: flex;
}

.ProfileGrid_cate_item{
    width: 33.5%;
    text-align: center;
    cursor: pointer;
}

.ProfileGrid_cate_item.on{
    border-bottom: 1px solid #fafafa;
}

/* 게시물 ---------------------------------*/
.ProfileGrid_cate_item:first-child .icon{
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-bottom: 0.5rem;
    background: url(../img/grid_999.svg) no-repeat center ;
}

.ProfileGrid_cate_item:first-child .icon.on{
    background: url(../img/grid.svg) no-repeat center ;
}

/* 블로그 ---------------------------------*/
.ProfileGrid_cate_item:nth-child(2) .icon{
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-bottom: 0.5rem;
    background: url(../img/tstory_999.svg) no-repeat center ;
}

.ProfileGrid_cate_item:nth-child(2) .icon.on{
    background: url(../img/tstorylogo.svg) no-repeat center ;
}

/* 작업물 ---------------------------------*/
.ProfileGrid_cate_item:last-child .icon{
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-bottom: 0.5rem;
    background: url(../img/folder_999.svg) no-repeat center ;
}

.ProfileGrid_cate_item:last-child .icon.on{
    background: url(../img/folder.svg) no-repeat center ;
}

/* Grid_cate -----------------------------------------*/
.Grid_cate.on{
    display: block;
}

.Grid_cate{
    position: relative;
    display: none;
    height: 100%;
    margin-top: 1px;
}


.Grid_cate_item{
    float: left;
    width: 33%;
    margin: 0px 0.5px;
    border-bottom: 1px solid black;
}


.Grid_cate_item img{
    width: 100%;
    height: 199px;
    object-fit: cover;
}

/* 카테고리 블로그 -------------------------*/
.Grid_cate_blog{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Grid_cate_blog_img{
    width: 80px;
    height: 80px;
    background: url(../img/tstory_999.svg) no-repeat;
}

.Grid_cate_blog_link{
    position: relative;
    margin-top: 1rem;
    transition: all 0.3s;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fafafa;
}

.Grid_cate_blog_link:hover{
    color: #405DE6;
}


/* StackInfo =============================================*/
.StackInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64%;
    height: 953px;
}

/* WorkWrap ================================================*/
.WorkWrap{
    display: flex;
    justify-content: space-between;
}

/* WorkSlide =============================================*/
@keyframes slide_left{
    0% { transform: translateX(0); }
   50% { transform: translateX(-100%); }
   50.01% { transform: translateX(100%); }
   100% { transform: translateX(0); }
}

@keyframes slide_right {
   0% { transition: translateX(0); }
   100% { transform: translateX(-200%); }
}
.WorkSlide{
    position: relative;
    width: 70%;
    height: 419px;
    border-radius: 1rem;
    background-color: #1a1a1a;
    overflow: hidden;
}

.WorkSlideTitle{
    width: 95%;
    margin: auto;
    padding: 1rem;
    font-size: 1rem;
    color: #fafafa;
}

.WorkSlideWrap{
    display: flex;
}

.WorkSlideWrap_list{
    display: flex;
}

.WorkSlideWrap_list.clone{
    display: flex;
}

.WorkSlideWrap_list{
    animation: slide_left 250s linear infinite;
}


.WorkSlideWrap_list.clone{
    animation: slide_right 250s linear infinite;
}


.WorkSlideWrap:hover .WorkSlideWrap_list{
    animation-play-state: paused;
}

.WorkSlideWrap_item{
    flex-shrink: 0;
    width: 250px;
    height: 330px;
    margin: 0rem 0.5rem;
}

.WorkSlideWrap_item img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit:fill;
}

.WorkSlideWrap_item:nth-child(2) img{
    object-fit:cover;
}

.WorkSlideWrap_item:last-child img{
    object-fit:cover;
}

/* Notice ========================================*/
.Notice{
    position: relative;
    width: 27%;
    height: 419px;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.Notice div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 50%;
    opacity: 0;
}

.Web_Standards{
    position: relative;
    position: absolute;
    top:40%;
    left:5%;
    width: 140px;
    height: 140px;
    color: #4432c7;
    background-color: #4432c7;
    z-index: 999;
}

.Web_Standards::after{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    content: "웹 표준성 80%";
}

.Web_Accessibilty{
    position: absolute;
    top:40%;
    right:5%;
    width: 135px;
    height: 135px;
    color: #bd1aeb;
    background-color: #bd1aeb;
}

.Web_Accessibilty::after{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    content: "웹 접근성 80%";
}

.Frontend{
    position: absolute;
    top:60%;
    left:15%;
    width: 125px;
    height: 125px;
    color: #41c267;
    background-color: #41c267;
}

.Frontend::after{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    font-size: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    content: "프레임워크 React 55%";
}

.Design_skill{
    position: absolute;
    bottom:0%;
    right:7%;
    width: 125px;
    height: 125px;
    color: #ff7c1c;
    background-color: #ff7c1c;
}

.Design_skill::after{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    font-size: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    content: "Potoshop & Illustrator 70%";
}


/* Stack_Social_About =======================================*/
.Stack_Social_About{
    display: flex;
    width: 100%;
    height: 285px;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

/* Stack -------------------------------------*/
.Stack{
    width: 60%;
}

.StackList{
    display: inline-flex;
    flex-direction: column;
}

.StackItem{
    position: relative;
    padding-right: 2rem;
    transition: all 0.5s;
}

.PercentBar{
    display: none;
    position: relative;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    
    height: 60%;
    box-sizing: border-box;
}

.StackItem:first-child .PercentBar{
    right: 0px;
    width:0px;
    background-color: #ff590c;
}

.StackItem:first-child .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"75%";

}

.StackItem:nth-child(2) .PercentBar{
    right: 0px;
    width:0px;
    background-color: #14b9ff;
}

.StackItem:nth-child(2) .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"80%";

}

.StackItem:nth-child(3) .PercentBar{
    right: 0px;
    width: 0px;
    background-color: #fedd21;
}

.StackItem:nth-child(3) .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"65%";

}

.StackItem:nth-child(4) .PercentBar{
    right: 0px;
    width: 0px;
    background-color: #6eff5a;
}

.StackItem:nth-child(4) .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"55%";

}
.StackItem:last-child .PercentBar{
    right: 0px;
    width: 0px;
    background-color: #0004ff;
}

.StackItem:last-child .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"50%";

}

/* Social -------------------------------------*/
.Social{
    width: 20%;
}

/* About -------------------------------------*/
.About{
    width: 20%;
}


.Cate_title{
    font-size: 1rem;
    color: #fafafa;
}

.Stack_Social_About ul{
    margin-top: 1rem;
}

.Stack_Social_About ul li{
    font-size: 0.8rem;
    line-height: 2rem;
    color: #999;
    cursor: pointer;
}

.SocialItem_link{
    font-size: 0.8rem;
    line-height: 2rem;
    color: #999;
}

.Contact{
    position: relative;
    width: 100%;
    height: 142px;
    padding:2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.ContactList{
    position: absolute;
    top:50%;
    right: 0%;
    transform: translateY(-50%);
    display: flex;
}

.ContactItem{
    padding:0.6rem 1.7rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255 ,0.05);
}

.ContactItem:last-child{
    margin: 0rem 2rem 0rem 1rem;
}

.ContactItem a{
    color: #fafafa;
}