/* Header ==================================*/
header{
    min-height: 5rem;
}


.HeaderWrap{
    position: relative;
    width: 95%;
    min-height: 5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}

/* Header_Title =============================*/
.Header_Link{
    font-size: 1.1rem;
    color: #fafafa;
}

.Header_Subtitle{
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: #999;
}


/* Header_List =================================*/
.Header_List{
    display: flex;
    align-items: center;
}

.Header_List li{
    float: left;
    margin-left: 1rem;
}

.Header_List li a{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
}

/* Mode ----------------------------------*/
.Mode{
    position: relative;
    width: 3rem;
    height: 1.3rem;
    border: 2px solid #fafafa;
    border-radius: 1rem;
}

.Mode.Dark{
    border: 2px solid #fafafa;
    border-radius: 1rem;
}

.Mode.Light{
    border: 2px solid #111313;
    border-radius: 1rem;
}

.ModeBtn{
    position: absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    cursor: pointer;
}

.ModeBtn.Dark{
    background-color: #fafafa;
}


.ModeBtn.Light{
    background-color: #111313;
}


/* Blog ---------------------------------------*/
.Blog{
    background: url(../img/tstorylogo.svg) no-repeat;
}


/* Github --------------------------------------*/
.Github{
    background: url(../img/githublogo.svg) no-repeat;
}

/* Main ========================================*/
.MainInfo{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}


/* Information ==================================*/
.Information{
    width: 33%;
    height: 953px;
    border-radius: 1rem;
    background-color: #1a1a1a;
    overflow: hidden;
}

/* ProfileId ------------------------------------*/
.ProfileId{
    display: inline-block;
    width: 100%;
    padding:1rem 0rem 0rem 0rem;
    text-align: center;
    font-size: 1rem;
    color: #fafafa;
}

/* Profile ---------------------------------------*/
.Profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding:1rem;
    box-sizing: border-box;
}

/* ProfileImg -------------------------------------*/
.ProfileImg{
    width: 115px;
    height: 115px;
    border: 5px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
}

.ProfileImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ProfileList ------------------------------------*/
.ProfileList{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.ProfileList_item{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    cursor: pointer;
}

.ProfileList_item:first-child{
    margin: 0px;
}

.Item_number{
    font-size: 1.8rem;
    font-weight: 600;
    color:#fafafa;
}

.Item_cate{
    margin-top:0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color:#999;
}

/* ProfileInfo -------------------------------------*/
.ProfileInfo{
    width: 95%;
    margin: auto;
    padding: 0rem 1rem;
    box-sizing: border-box;
}

.Name{
    display: inline-block;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    color: #fafafa;
}

.paragraph{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fafafa;
}

/* Profilecontact ---------------------------------*/
.Profilecontact{
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    padding: 0rem 1rem;
    box-sizing: border-box;
}

.Profilecontact_List{
    display: flex;
    justify-content: space-between;
}

.Profilecontact_List li{
    width: 32%;
    text-align: center;
    border-radius: 0.5rem;
    padding:0.7rem;
    box-sizing: border-box;
}

.Profilecontact_List li a{
    display: inline-block;
    width: 100%;
    font-weight: 500;
    color: #fafafa;
}

.Profilecontact_item_follow{
    color:#fafafa;
    background-color: #405DE6;
}

.Profilecontact_item_message{
    background-color: #111313;
}

.Profilecontact_item_call{
    background-color: #111313;
}

/* PortfolioGrid --------------------------------*/
.ProfileGrid{
    height: 60%;
    overflow-y: scroll;
}

.ProfileGrid::-webkit-scrollbar{
    display:none;
}

/* ProfileGrid_cate ---------------------------*/

.ProfileGrid_cate{
    margin-top: 2rem;
}

.ProfileGrid_cate_list{
    display: flex;
}

.ProfileGrid_cate_item{
    width: 33.5%;
    text-align: center;
    cursor: pointer;
}

.ProfileGrid_cate_item.on{
    border-bottom: 1px solid #fafafa;
}

/* 게시물 ---------------------------------*/
.ProfileGrid_cate_item:first-child .icon{
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-bottom: 0.5rem;
    background: url(../img/grid_999.svg) no-repeat center ;
}

.ProfileGrid_cate_item:first-child .icon.on{
    background: url(../img/grid.svg) no-repeat center ;
}

/* 블로그 ---------------------------------*/
.ProfileGrid_cate_item:nth-child(2) .icon{
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-bottom: 0.5rem;
    background: url(../img/tstory_999.svg) no-repeat center ;
}

.ProfileGrid_cate_item:nth-child(2) .icon.on{
    background: url(../img/tstorylogo.svg) no-repeat center ;
}

/* 작업물 ---------------------------------*/
.ProfileGrid_cate_item:last-child .icon{
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-bottom: 0.5rem;
    background: url(../img/folder_999.svg) no-repeat center ;
}

.ProfileGrid_cate_item:last-child .icon.on{
    background: url(../img/folder.svg) no-repeat center ;
}

/* Grid_cate -----------------------------------------*/
.Grid_cate.on{
    display: block;
}

.Grid_cate{
    position: relative;
    display: none;
    height: 100%;
    margin-top: 1px;
}


.Grid_cate_item{
    float: left;
    width: 33%;
    margin: 0px 0.5px;
    border-bottom: 1px solid black;
}


.Grid_cate_item img{
    width: 100%;
    height: 199px;
    object-fit: cover;
}

/* 카테고리 블로그 -------------------------*/
.Grid_cate_blog{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Grid_cate_blog_img{
    width: 80px;
    height: 80px;
    background: url(../img/tstory_999.svg) no-repeat;
}

.Grid_cate_blog_link{
    position: relative;
    margin-top: 1rem;
    transition: all 0.3s;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fafafa;
}

.Grid_cate_blog_link:hover{
    color: #405DE6;
}


/* StackInfo =============================================*/
.StackInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64%;
    height: 953px;
}

/* WorkWrap ================================================*/
.WorkWrap{
    display: flex;
    justify-content: space-between;
}

/* WorkSlide =============================================*/
@keyframes slide_left{
    0% { transform: translateX(0); }
   50% { transform: translateX(-100%); }
   50.01% { transform: translateX(100%); }
   100% { transform: translateX(0); }
}

@keyframes slide_right {
   0% { transition: translateX(0); }
   100% { transform: translateX(-200%); }
}
.WorkSlide{
    position: relative;
    width: 100%;
    height: 419px;
    border-radius: 1rem;
    background-color: #1a1a1a;
    overflow: hidden;
}

.WorkSlideTitle{
    width: 95%;
    margin: auto;
    padding: 1rem;
    font-size: 1rem;
    color: #fafafa;
}

.WorkSlideWrap{
    display: flex;
}

.WorkSlideWrap_list{
    display: flex;
}

.WorkSlideWrap_list.clone{
    display: flex;
}

.WorkSlideWrap_list{
    animation: slide_left 250s linear infinite;
}


.WorkSlideWrap_list.clone{
    animation: slide_right 250s linear infinite;
}


.WorkSlideWrap:hover .WorkSlideWrap_list{
    animation-play-state: paused;
}

.WorkSlideWrap_item{
    flex-shrink: 0;
    width: 250px;
    height: 330px;
    margin: 0rem 0.5rem;
}

.WorkSlideWrap_item img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit:fill;
}

.WorkSlideWrap_item:nth-child(2) img{
    object-fit:cover;
}

.WorkSlideWrap_item:last-child img{
    object-fit:cover;
}


/* Stack_Social_About =======================================*/
.Stack_Social_About{
    display: flex;
    width: 100%;
    height: 285px;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

/* Stack -------------------------------------*/
.Stack{
    width: 60%;
}

.StackList{
    display: inline-flex;
    flex-direction: column;
}

.StackItem{
    position: relative;
    padding-right: 2rem;
    transition: all 0.5s;
    color: #999;
}

.PercentBar{
    display: none;
    position: relative;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 60%;
    box-sizing: border-box;
}

.StackItem:first-child .PercentBar{
    right: 0px;
    width:0px;
    background-color: #ff590c;
}

.StackItem:first-child .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"75%";

}

.StackItem:nth-child(2) .PercentBar{
    right: 0px;
    width:0px;
    background-color: #14b9ff;
}

.StackItem:nth-child(2) .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"80%";

}

.StackItem:nth-child(3) .PercentBar{
    right: 0px;
    width: 0px;
    background-color: #fedd21;
}

.StackItem:nth-child(3) .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"65%";

}

.StackItem:nth-child(4) .PercentBar{
    right: 0px;
    width: 0px;
    background-color: #6eff5a;
}

.StackItem:nth-child(4) .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"55%";

}
.StackItem:last-child .PercentBar{
    right: 0px;
    width: 0px;
    background-color: #0004ff;
}

.StackItem:last-child .PercentBar::after{
    position: absolute;
    top:50%;
    margin-left: 110%;
    transform: translateY(-50%);
    content:"50%";

}

/* Social -------------------------------------*/
.Social{
    width: 20%;
}

/* About -------------------------------------*/
.About{
    width: 20%;
}


.Cate_title{
    font-size: 1rem;
    color: #fafafa;
}

.Stack_Social_About ul{
    margin-top: 1rem;
}

.Stack_Social_About ul li{
    font-size: 0.8rem;
    line-height: 2rem;
    cursor: pointer;
}

.Stack_Social_About ul li a{
    color: #999;
}

.SocialItem_link{
    font-size: 0.8rem;
    line-height: 2rem;
    color: #999;
}

.Contact{
    position: relative;
    width: 100%;
    height: 142px;
    padding:2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.ContactList{
    position: absolute;
    top:50%;
    right: 0%;
    transform: translateY(-50%);
    display: flex;
}

.ContactItem{
    padding:0.6rem 1.7rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255 ,0.05);
}

.ContactItem:last-child{
    margin: 0rem 2rem 0rem 1rem;
}

.ContactItem a{
    color: #fafafa;
}

/* MainWork_coex ===========================================*/
.MainWorkWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 600px;
    margin: auto;
    margin-top: 5rem;
}

/* WorkFlex -------------------------------------------*/
.WorkFlex{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    transition: all 1s;
}

.WorkFlex div{
    width: 49%;
    height: 100%;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

/* WorkFlexImg ---------------------------------------*/
.WorkFlexImg_list{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.WorkFlexImg_list li{
    width: 70%;
    height: 60%;
    box-shadow: 0px 0px 5px #d3d3d3;
    transition: all 1s;
}

/* coex ------------------------------------*/
.WorkFlexImg_list.coex li:first-child{
    position:absolute;
    top:10%;
    left:10%;
    z-index: 3;
}

.Desktop_coex{
    background: url(../img/coex.png) no-repeat center top / 100%;
}

.WorkFlexImg_list.coex li:nth-child(2){
    position:absolute;
    top:17%;
    left:15%;
    z-index: 2;
}

.Tablet_coex{
    background: url(../img/coex_tablet.png) no-repeat top / 70%;
    background-color:#111313;
}

.WorkFlexImg_list.coex li:last-child{
    position:absolute;
    top:24%;
    left:20%;
    z-index: 1;
}

.Mobile_coex{
    background: url(../img/coex_mobile.png) no-repeat center top / 45%;
    background-color:#111313;
}

/* lh ------------------------------------*/
.WorkFlexImg_list.lh li:first-child{
    position:absolute;
    top:10%;
    left:20%;
    z-index: 3;
}

.Desktop_lh{
    background: url(../img/lh.png) no-repeat center top /cover;
}

.WorkFlexImg_list.lh li:nth-child(2){
    position:absolute;
    top:17%;
    left:15%;
    z-index: 2;
}

.Tablet_lh{
    background: url(../img/lh_tablet.png) no-repeat top / 70%;
    background-color:#111313;
}

.WorkFlexImg_list.lh li:last-child{
    position:absolute;
    top:24%;
    left:10%;
    z-index: 1;
}

.Mobile_lh{
    background: url(../img/lh_mobile.png) no-repeat center top / 45%;
    background-color:#111313;
}

/* cu ------------------------------------*/
.WorkFlexImg_list.cu li:first-child{
    position:absolute;
    top:10%;
    left:10%;
    z-index: 3;
}

.Desktop_cu{
    background: url(../img/cu.png) no-repeat center top /cover;
}

.WorkFlexImg_list.cu li:nth-child(2){
    position:absolute;
    top:17%;
    left:15%;
    z-index: 2;
}

.Tablet_cu{
    background: url(../img/cu_tablet.png) no-repeat top / 70%;
      background-color:#111313;
}

.WorkFlexImg_list.cu li:last-child{
    position:absolute;
    top:24%;
    left:20%;
    z-index: 1;
}

.Mobile_cu{
    background: url(../img/cu_mobile.png) no-repeat center top / 45%;
      background-color:#111313;
}

/* WorkFlexTitle -------------------------------------------*/
.WorkFlexTitle{
    position: relative;
    padding: 3rem;
    box-sizing: border-box;
}

.WorkFlexTitle_name{
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
    transition: all 1s;
}

.WorkFlexTitle_paragraph{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #fafafa;
    font-family: "Hahmlet", serif;
    transition: all 1s;
}

.WorkFlexTitle_link{
    position: relative;
    position: absolute;
    bottom:6%;
    left:6%;
    transition: all 0.5s;
    padding:0.8rem 4rem;
    border: 2px solid #fafafa;
    border-radius: 0.3rem;
    font-weight: 600;
    color: #fafafa;
}

.WorkFlexTitle_link:hover{
    background-color: black;
}

/* FooterWrap ========================================*/
.FooterWrap{
    width: 95%;
    margin: auto;
    padding: 2rem 0rem;
}

.FooterFlex{
    display: flex;
    justify-content: space-between;
}

.FooterFlex div{
    width: 32.5%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.FooterFlex_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #fafafa;
}

.FooterFlex_title span{
    color: #999;
}

.FooterFlex_list{
    margin-top: 1rem;
}

.FooterFlex_item{
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
    color: #c2c2c2;
}

.FooterFlex_item a{
    color: #c2c2c2;
    text-decoration: underline;
}

.FooterContact{
    margin-top: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #1a1a1a;
}

.FooterContactFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.FooterEmail{
    font-size: 2rem;
    font-weight: 600;
    color: #c2c2c2;
}

.FooterLink{
    font-size: 1.5rem;
    color: #999;
}

/* light mode =================================================*/
.Header_Link.light{
    color: #010101;
}

.Information.light{
    background-color: #f0f0f0;
}

.Profilecontact_item_message_link.light{
    color:#010101;
}

.Profilecontact_item_message.light{
    background-color: #e8e8e8;
}

.Profilecontact_item_call_link.light{
    color: #010101;
}

.Profilecontact_item_call.light{
    background-color: #e8e8e8;
}

.ProfileGrid_cate_item.light.on{
    border-bottom: 1px solid #010101;
}

.ProfileGrid_cate_item:first-child .icon.light.on{
    background: url(../img/grid_01.svg) no-repeat center ;
}
.ProfileGrid_cate_item:nth-child(2) .icon.light.on{
    background: url(../img/tstory_01.svg) no-repeat center ;
}
.ProfileGrid_cate_item:last-child .icon.light.on{
    background: url(../img/folder_01.svg) no-repeat center ;
}

.WorkSlide.light{
    background-color: #f0f0f0;
}

.Notice.light{
    background-color: #f0f0f0;
}

.Stack_Social_About.light{
    background-color: #f0f0f0;
}

.Contact.light{
    background-color: #f0f0f0;
}

.ContactItem.light{
    background-color: #e8e8e8;
}

.ContactItem.light a{
    color:#010101;
}

.WorkFlexImg.light{
    background-color: #f0f0f0;
}

.WorkFlexTitle.light{
    background-color: #f0f0f0;
}

.WorkFlexTitle_link.light{
    border: 1px solid #010101;
    color:#010101;
    background-color: #e8e8e8;
}

.WorkFlexImg_list li.light{
    box-shadow: 0px 0px 5px #999;
}

.Tablet_coex.light{
    background-color: #e8e8e8;
}

.Mobile_coex.light{
    background-color: #e8e8e8;
}

.Tablet_lh.light{
    background-color: #e8e8e8;
}

.Mobile_lh.light{
    background-color: #e8e8e8;
}

.Tablet_cu.light{
    background-color: #e8e8e8;
}

.Mobile_cu.light{
    background-color: #e8e8e8;
}

.Footerstack.light{
    background-color: #f0f0f0;
}

.FooterFlex_item.light{
    color: #999;
}

.FooterFlex_item.light a{
    color: #999;
}

.FooterProject.light{
    background-color: #f0f0f0;
}

.FooterAdvantage.light{
    background-color: #f0f0f0;
}

.FooterContact.light{
    background-color: #f0f0f0;
}

strong.light{
    color:#010101;
}

span.light{
    color: #010101;
}

p.light{
    color: #010101;
}

h2.light{
    color: #010101;
}

h3.light{
    color: #010101;
}

@media screen and (min-width : 1640px) and (max-width:1880px){
    html{
        font-size: 14.5px;
    }
}

@media screen and (min-width : 1440px) and (max-width:1640px){
    html{
        font-size: 13px;
    }
}

@media screen and (min-width : 1240px) and (max-width:1440px){
    html{
        font-size: 11px;
    }
}


@media screen and (min-width : 810px) and (max-width:1240px){
    html{
        font-size: 13px;
    }

    .MainInfo{
        flex-direction: column;
    }

    .Information{
        width: 100%;
        height: 800px;
    }

    .ProfileImg{
        width: 8rem;
        height: 8rem;
    }

    .Grid_cate_item img{
        height: 300px;
    }

    .StackInfo{
        width: 100%;
        margin-top: 3.5rem;
    }

    .Stack{
        width: 50%;
        margin-right: 15rem;
    }

    .Social{
        width: 20%;
    }

    .About{
        width: 20%;
    }
}

@media screen and (max-width:810px){
    html{
        font-size: 11px;
    }

    .MainInfo{
        flex-direction: column;
    }

    
    .Information{
        width: 100%;
        height: 600px;
    }

    .ProfileImg{
        width: 8rem;
        height: 8rem;
    }

    .Grid_cate_item img{
        height: 300px;
    }

    .StackInfo{
        width: 100%;
        height: 900px;
        margin-top: 4rem;
    }

    .Stack_Social_About{
        height: 320px;
        flex-direction: column;
        justify-content: space-between;
    }

    .Stack{
        width: 100%;
    }

    .Social{
        width: 100%;
    }

    .About{
        width: 100%;
    }

    .Contact{
        height: 100px;
    }

    .MainWorkWrap{
        margin-top:2rem
    }

    .WorkFlex{
        flex-direction: column;
    }

    .WorkFlex div{
        width: 100%;
        margin-bottom: 2rem;
    }

}