body{
    background-color: #080808;
}

header{
    background-color: #000;
}

/* WorkMe ==================================================*/
.WorkMe{
    width: 68%;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 130px;
}

.WorkMeTitle{
    font-size: 2.5rem;
    font-weight: 500;
    color: #fafafa;
}

.MainWorkMe{
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.MainWorkMe_title{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fafafa;
}

.MainWorkMe_paragraph{
    margin-top: 2rem;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 2rem;
    color: #c2c2c2;
}

.WorkMeImgcontainer{
    margin-top: 5rem;
}

.WorkMeImgList{
    display: flex;
    flex-wrap: wrap;
}

.WorkMeImgItem{
    width: 300px;
    height: 300px;
    margin: 0.5rem;
}

.WorkMeImgItem img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    border-radius: 1rem;
    object-fit: cover;
}


/* light ===========================================*/
header.light{
    background-color: #f0f0f0;
}
.WorkMeImgItem.light img{
    filter: brightness(100%);
}

@media screen and (min-width : 1640px) and (max-width:1880px){
    html{
        font-size: 13.8px;
    }

    .WorkMeImgList{
        justify-content: space-between;
    }

    .WorkMeImgItem{
        width: 260px;
        height: 260px;
    }
}

@media screen and (min-width : 1240px) and (max-width:1440px){
    html{
        font-size: 12px;
    }

    .WorkMeImgList{
        justify-content: space-between;
    }

    .WorkMeImgItem{
        width: 195px;
        height: 195px;
    }
}

@media screen and (min-width : 810px) and (max-width:1240px){
    html{
        font-size: 12px;
    }

    .WorkMeImgList{
        justify-content: space-between;
    }

    .WorkMeImgItem{
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width : 430px) and (max-width:810px){
    html{
        font-size: 12px;
    }

    .WorkMeImgList{
        justify-content: center;
    }

    .WorkMeImgItem{
        width: 100%;
        height: 100%;
    }

}
